div#main-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36fcd4+0,679654+49,1e1211+99 */
  background: #36fcd4; /* Old browsers */
  background: -moz-linear-gradient(top,  #36fcd4 0%, #679654 49%, #1e1211 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #36fcd4 0%,#679654 49%,#1e1211 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #36fcd4 0%,#679654 49%,#1e1211 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36fcd4', endColorstr='#1e1211',GradientType=0 ); /* IE6-9 */
  width: 1600px;
  height: 867px;
}

div#item-container {
  font-family: Arial;
  color: #1e1211;
}

a {
  color: #57f;
}

h1#main-title {
  font-family: "Passion One";
  font-size: 10vh;
  color: #dfeabf;
  text-shadow: 0px 0px 20px #9e583f;
  position: absolute;
}

span {
  display: inline-block;
  margin-right: 5px;
}

h1#item-title {
  font-family: "Crimson Text";
  text-align: center;
  color: #1e1211;
  margin: 50px 0 30px;
}

div#item-container {
  width: 800px;
  margin: 0 auto;
}

div#info-container {
  margin-top: 50px;
}

div.text {
  font-family: "Harmattan";
  font-size: 2vh;
}

h5 {
  margin: 10px 0;
  font-family: "Harmattan";
  font-size: 3vh;
}

div.field {
  font-family: "Crimson Text";
  font-size: 1.8vh;
  width: 100px;
}

div.value {
  font-family: "Harmattan";
  font-size: 2vh;
  padding-top: 2px;
}

div.price {
  margin-top: -11px;
  font-size: 5vh;
}

div#video-container {
  margin-top: 50px;
}

p#video-note {
  margin-left: 147px;
  color: #36fcd4;
}

div#go-back {
  font-family: "Crimson Text";
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-style: bold;
}

form {
  width: 100vw;
  background: #36fcd4;
  margin-bottom: 0;
}

input[type="text"]#slug-input {
  width: 0px;
  height: 0px;
  border: none;
  background: transparent;
}

video {
  max-width: 500px;
  max-height: 500px;
}

video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
